{% extends 'base_layout.html' %}

{% block content %}


<div class="container-fluid bg-dark" style="height: auto">

    
    <section class="p-5">
        <h1 class=" text-light">Blog Page</h1>
        
    </section>



   
    <section class="pt-5 px-5">        
        <h3 class=" text-light">{{article.title}}</h3> 
        <p class="text-light" style="font-size:0.7rem ;">Published-at : {{article.date}} </p> 
    </section>

  
        <img class="img-fluid"src="{{article.thumb.url}}"></img>
   

  

<div class="article  px-5  " style=" margin-top:100px ; padding-bottom: 500px;">
    <p class="text-light">{{article.body}}</p>            
        </div> 
    
    
    
    
    </div>


<!-- <div class="container p-5 bg-dark">
    <div class="articles">
        {% for article in articles %}
        <div class="card text-center m-5  ">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">

                <h5 class="card-title">{{article.title}}</h5>

                <p class="card-text">{{article.snippet}}</p>

                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="card-footer text-muted">
                {{article.date}}
            </div>
        </div>
        {% endfor %}
    </div>
</div> -->
{% endblock %}